@import "./variables.scss";

html {
    scroll-behavior: smooth !important;
}

ul {
    padding-left: 18px;
    
}

li {
    padding-top: 10px;
    // padding-bottom: 4px;
    
}

.content-page h6{
    margin-top: 30px;
}