
@font-face {
    font-family: 'BalooTamma2';
    src: url(https://fonts.gstatic.com/s/balootamma2/v2/vEFX2_hCAgcR46PaajtrYlBbf1U81-qe.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0C82-0CF2, U+200C-200D, U+20B9, U+25CC;
}

$primary-color:#395165;
$secondary-color:#39516588;

$primary-btn-color:#4C9163;
$primary-btn-hover-animation:#336243;
$primary-btn-hover-color:#336243;

$secondary-btn-color:#395165;
$secondary-btn-hover-animation:#273744;
$secondary-btn-hover-color:#273744;

$font-family: "BalooTamma2";
$font-normal: "300";
$font-medium: "500";
$font-bold: "800";